*{
    font-size:15px;
}
.name{
    font-size:30px;
}
ul{
    list-style: none;
}
table{
    margin:10px;
    border:1px solid black
}
.goto{
    margin-left:20px;
    font-size:20px;
    background-color: pink;
}
.in{
    margin-left:20px;
    font-size:20px;
    background-color: aqua;
}
.gotobutton{
    margin-left:20px;
    width:150px;
    height:50px;
    background-color: pink;
}
.inbutton{
    margin-left:20px;
    width:150px;
    height:50px;
    background-color: aqua;
}
.mag{
    height:50px
}
.center{
    margin-top:30px;
    text-align:center;
}
.border{
    border: 1px solid black;
    border-radius:20px;
    margin:5px;
    min-height:10px;
    padding:10px;
    width:90%;
}
.border:first-of-type {
    background-color: #CCFFFF;
}
.border:nth-of-type(2) {
    background-color: #99FFCC;
}
.border:nth-of-type(3) {
    background-color: #FFCCFF;
}
.border:nth-of-type(4) {
    background-color: #CCCCFF;
}
.taskName{
    margin-left:5px;
    border:100px solid black;
    font-size:16px;
}
.taskcont{
    margin-left:15px;
    display:flex;
}
.registWidebutton{
    width:150px;
    background-color:yellowgreen;
    height:50px;
}
.cancelWidebutton{
    width:150px;
    background-color:pink;
    height:50px;
    margin:10px;
}
.orange{
    border:1px solid black;
    background-color:#FFCCAA;
    margin-left:15px;
    padding:5px;
    width:70px;
}
.midiamletter{
    margin-top:10px;
}
.midiambutton{
    margin:10px;
}
.Lmargin{
    margin-left:15px;
}
.topmargin{
    margin-top:10px;
}
.Lmargin-memo{
    margin-left:15px;
    max-width:100px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.Menubutton{
    border: 1px solid black;
    border-radius:5px;
    margin:5px;
    min-height:10px;
    padding:10px;
    width:90%;
    text-align:center;
    background-color:rgb(223, 178, 161);
}
.buttons{
    display:flex;
}
.nbsp{
    height:15px;
}
.weekTable tr:nth-of-type(odd){
    border:1px dotted black;
    background-color:rgb(212, 226, 231);
}
.weekTable{
    border-collapse:collapse ;
    text-align:center;
}
.weekTable tr th{
    width:100px;
}
.non-color-border{
    border: 1px solid black;
    border-radius:20px;
    margin:5px;
    min-height:10px;
    padding:10px;
    width:250px;
    background-color: #CCFFFF;
}
.flats{
    display: -webkit-flex;
    display:flex;
}
.size{
    width:300px;
}
.weekTable tr th.nallow-colunm {
    width: 70px;
}
.weekTable tr th.wide-colunm {
    width: 400px;
}
.naka:not(.right){margin:0 auto;text-align:center}
.ookiku{transform: scale(1.5)}
.cousion{
    background-color: pink;
    padding:10px;
    border:2px solid black;
    border-radius: 10px;
}
.selection{
    background-color: bisque;
}
@media print{
    .Menubutton{
        display:none
    }
}
.calender{
    margin:0 auto;
    text-align:center;
    margin-top:10px;
}
.yyyy-mm{
    margin:8px;
}
.calender th,td{
    width:30px;
}